{% extends 'app_to/data.html' %}

{% block content %}

<ol>
{% for i in data %}
    <li>
        <input type="checkbox" id="{{ i.pk }}" class="hide"/>
        <label for="{{ i.pk }}" >{{ i.name }}</label>
        <div>
            <p><b>Название объекта:</b> {{ i.text }}</p>
            <p><b>Адрес:</b> {{ i.address }}</p>
            <p><a href="{{ i.contract }}" target="_blank"><b>Договор:</b> </a></p>
            <p><b>Ремонт:</b> {{ i.repairs }} </p>
            <p><b>Контакты: </b>{{ i.phone }}</p>
            <p><b>Дата заключения контракта: </b>{{ i.date_contract }}</p>

        </div>
    </li>

{% endfor %}
</ol>

{% endblock %}