{% extends 'app_to/index.html' %}

{% block content %}

<!--<ol>-->
    <p>asdasdasd</p>
<!--{% for i in data %}-->
<!--    <li>    <a href="{% url 'data_obj' pk=i.pk %}?item={{ i.pk }}"> {{ i.name }} </a>  </li>-->
<!--        <input type="checkbox" id="hd-1" class="hide"/>-->
<!--        <label for="hd-1" >{{ i.name }}</label>-->
<!--        <div>-->
<!--            <p>Название объекта: {{ i.text }}</p> <br>-->
<!--            <p>Адреccccс: {{ i.address }}</p> <br>-->
<!--            <p><a href="{{ i.contract }}" target="_blank">Договор: </a></p> <br>-->
<!--&lt;!&ndash;            <p>{{ i.status_to }}</p> <br>&ndash;&gt;-->
<!--            <p>Ремонт: {{ i.repairs }}</p> <br>-->
<!--            <p>Контакты: {{ i.phone }}</p> <br>-->
<!--            <p>Дата заключения контракта: {{ i.date_contract }}</p> <br>-->
<!--            <p>Файл контракт: {{ i.file_contract }}</p> <br>-->
<!--            <p>Файл график: {{ i.file_schedule }}</p> <br>-->
<!--            <p>Файлы деыектники: {{ i.file_defect }}</p> <br>-->
<!--            <p>{{ i.customer }}</p> <br>-->
<!--        </div>-->



<!--{% endfor %}-->
<!--</ol>-->


{% endblock content %}